<!DOCTYPE html>
<html>
<head>
	<title>Shotaro Kamegai</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="javascripts/underscore.js"></script>
	<script src="javascripts/script.js"></script>
	<script id='works_template' type="text/template">
		<h1 class="title">Works</h1>
		<div class="works">
			<div class="row group">
				<div class="column-left">
					<img src>
				</div>
				<div class="column-right">
					<h2>ShoCal</h2>
					<p>Description</p>
				</div>
			</div>
			<hr />
			<div class="row group">
				<div class="column-left">
					<img src>
				</div>
				<div class="column-right">
					<h2>Todo List :)</h2>
					<p>Description</p>
				</div>
			</div>
			<hr />
			<div class="row group">
				<div class="column-left">
					<img src>
				</div>
				<div class="column-right">
					<h2>New York Japan Cinefest</h2>
					<p>Description</p>
				</div>
			</div>
		</div>
	</script>

	<script id='skills_template' type="text/template">
		<h1 class="title">Skills</h1>
		<div class="skills">
			<p><code>Ruby</code><code>Ruby on Rails</code>
			<code>JavaScript</code></p>
			<p><code>jQuery</code>
			<code>Backbone.js</code><code>underscore.js</code><p>
			<p><code>PostgreSQL</code><code>HTML5</code><code>CSS3</code></p>
		</div>
	</script>

	<script id='contacts_template' type="text/template">
		<h1 class="title">Contacts</h1>
	</script>

	<script id="about_template" type="text/template">
		<h1>Shotaro Kamegai</h1>
		<h2>
			Im a Full-Stack Web Developer<br />
			who loves gummy.
		</h2>
	</script>
</head>
<body>
<div class="container">
<header class="group">
	<nav>
		<ul>
			<li id="about">About</li>
			<li id="skills">Skills</li>
			<li id="works">Works</li>
			<li id="contacts">Contacts</li>
		</ul>	
	</nav>	
</header>
<div class="main">
	<h1>Shotaro Kamegai</h1>
	<h2>
		I'm a Full-Stack Web Developer<br />
		who loves gummy.
	</h2>
</div>
<footer id="footer" class="group">
	<nav>
		<ul>
			<li id="github"><a href="https://github.com/shotarokamegai"><img src="images/github_alt.png"></a></li>
			<li id="linkedin"><a href="www.linkedin.com/in/shotarokamegai/"><img src="images/linkedin_alt.png"></a></li>
		</ul>	
	</nav>	
</footer>	
</div>
</body>
</html>