<!DOCTYPE html>
<html>
<head>
	<title>Shotaro Kamegai</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="javascripts/underscore.js"></script>
	<script src="javascripts/script.js"></script>
	<script id='works_template' type="text/template">
		<h1 class="title">Works</h1>
		<div class="works">
			<div class="row group">
				<div class="column-left">
					<a href="https://shocal.herokuapp.com"><img src="images/shocal.png"></a>
				</div>
				<div class="column-right">
					<h2><a href="https://shocal.herokuapp.com">ShoCal</a></h2>
					<p>Events Calendar App. User can have own calendar and they are able to search and save whatever events according to date, location and free words.</p>
				</div>
			</div>
			<hr />
			<div class="row group">
				<div class="column-left">
					<a href="https://damp-inlet-3705.herokuapp.com"><img src="images/todo_list.png"></a>
				</div>
				<div class="column-right">
					<h2><a href="https://damp-inlet-3705.herokuapp.com">Todo List :)</a></h2>
					<p>Simple Todo List with Bakbone.js and Ruby on Rails.</p>
				</div>
			</div>
			<hr />
			<div class="row group">
				<div class="column-left">
					<a href="http://nyjcf.com/"><img src="images/japan_cinefest.png"></a>
				</div>
				<div class="column-right">
					<h2><a href="http://nyjcf.com/">New York Japan Cinefest</a></h2>
					<p>Website for New York Japan Cinefest by wordpress.</p>
				</div>
			</div>
		</div>
	</script>

	<script id='skills_template' type="text/template">
		<h1 class="title">Skills</h1>
		<div class="skills">
			<p><code>Ruby</code><code>Ruby on Rails</code>
			<code>JavaScript</code></p>
			<p><code>jQuery</code>
			<code>Backbone.js</code><code>Underscore.js</code><p>
			<p><code>PostgreSQL</code><code>HTML5</code><code>CSS3</code><span class="andmore">and more!</span></p>
		</div>
	</script>
	<script id='about_template' type="text/template">
		<div>
			<h2 class="profile-name">Shotaro Kamegai</h2>
			<h3 style="margin: 0 0 3% 0;">Full-Stack Web Developer | From Japan</h3>
		</div>
		<div class="left">
			<h2 class="about">Resume</h2>
			<h3><a href="images/shotarokamegai_resume.pdf">English</a> / <a href="images/shotarokamegai_jp_resume.pdf">Japanese</a></h3>
		</div>
		<div class="center">
			<img src="images/headshot.png">
		</div>
		<div class="right">
			<h2 class="about">Contacts</h2>		
			<h3 class="contacts">Email: <a href="mailto:shotaro326@gmail.com">shotaro326@gmail.com</a></h3>
			<h3 class="contacts">github: <a href="https://www.github.com/shotarokamegai">github.com/shotarokamegai</a></h3>
			<h3 class="contacts">LinkedIn: <a href="https://www.linkedin.com/in/shotarokamegai">linkedin.com/in/shotarokamegai</a></h3>
		</div>
	</script>
	<script id="home_template" type="text/template">
		<h1 class="myname">Shotaro Kamegai</h1>
		<h2 class="summary">
			I am a Full-Stack Web Developer who loves gummy.<br />
			Enjoy solving logical problems and exploring new technology.<br />
			Interested in both Front-end and Back-end.
		</h2>
	</script>
</head>
<body>
<div class="container">
<header class="group">
	<nav>
		<ul>
			<li id="home">Home</li>
			<li id="skills">Skills</li>
			<li id="works">Works</li>
			<li id="about">About</li>
		</ul>	
	</nav>	
</header>
<div class="main">
	<h1 class="myname">Shotaro Kamegai</h1>
	<h2 class="summary">
		I am a Full-Stack Web Developer who loves gummy.<br />
		Enjoy solving logical problems and exploring new technology.<br />
		Interested in both Front-end and Back-end.
	</h2>
</div>
<footer id="footer" class="group">
	<span>Copyright © Shotaro Kamegai 2014</span>
	<div class="icon">
		<a href="mailto:shotaro326@gmail.com" id="email"><img src="images/email.png"></a>
		<a href="https://github.com/shotarokamegai" id="github"><img src="images/github.png"></a>			
		<a href="https://www.linkedin.com/in/shotarokamegai" id="linkedin"><img src="images/linkedin.png"></a>
	</div>
</footer>	
</div>
</body>
</html>