html, body {
	text-align: center;
	height: 100%;
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
}

li {
	list-style: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

.selected {
	text-decoration: : underline;
}