/*** Header ***/

header {

}

header nav {
	width: 100%;
}

header nav ul {
	float: right;
	width: 25%;
	padding: 0;
}

header nav ul li {
	float: left;
	margin-left: 5%;
	font-size: 1.5em;
}

header nav ul li:hover {
	color: #DEDEDE;
}

/*** Container ***/

div.container {  
	width: 100%;    
	position: relative; 
	height: auto !important;    
	height: 100%;   
	min-height: 100%;
}

div.container h1 {
	font-size: 7em;
	letter-spacing: -3px;
	margin-bottom: -0.5%;
}

h1.myname {
	font-size: 6em;
	letter-spacing: -3px;
	margin-bottom: -0.5%;
}

h2.summary {
	font-size: 2.5em;
}
/*** Main ***/

div.main h1.title {
	margin-top: 0;
	font-size: 4em;
}

div.skills {
	width: auto;
	padding: 5% 3% 3% 3%;
}

/*** Skills ***/

div.skills p {
	margin: 0;
	line-height: 40pt;
}

code {
    font-family: monospace;
	font-size: 3em;
	margin-right: 1%;
	background: #DEDEDE;
	border-radius: 5px;
	padding: 0.2% 1%;

}

span.andmore {
	font-size: 2.5em;
	margin-left: 1%;
}

/*** Works ***/

div.works h2 {
	margin-top: 0;
}

div.works p {
	font-size: 1.3em;
	padding-right: 4%;
}

div.works img {
	width: 60%;
	border: 1px solid #DEDEDE;
}

div.works img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}

div.works div.row {
	width: 100%;
	padding: 1%;
}

div.works div.row:first-child {
	margin-top: 5%;
}

div.works div.row div.column-left {
	width: 40%;
	float: left;
}

div.works div.row div.column-right {
	width: 60%;
	float: left;
}

/*** About ***/

h1#about {
	margin-bottom: 3%;
}

h2.profile-name {
	font-size: 2.5em;
	margin-bottom: 0;
}

h2.about {
	font-size: 2em;
	margin-top: 0;
}

div.left {
	float: left;
	width: 33.3333%;
}

div.center {
	float: left;
	width: 33.3333%;
}

div.center img {
	width: 50%;
    padding:1px;
    border:1px solid #DEDEDE;
    border-radius: 5px;
}

div.right {
	float: left;
	width: 33.3333%;
}

h3 a:hover {
	color: #DEDEDE;;
}

/*** Footer ***/

footer { 
	background: #E6E2FF;   
    position: fixed;
    left: 0px;
    bottom: 0px;
	width: 100%;
	margin-top: 33.2px;  
}

footer span {
	float: left;
	margin: 2% 0 2% 3%;
}


footer div {
	float: right;
	width: 50%;
	padding: 0;
	margin: 1%;
}

footer a img {
	width: 7%;
	float: right;
	margin-right: 2%;
}

footer a img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}}