li {
	list-style: none;
	cursor: pointer;
}

h1.title {
	margin-top: 0;
	font-size: 3em;
}

div.skills p {
	margin: 0;
	line-height: 40pt;
}

code {
    font-family: monospace;
	font-size: 3em;
	margin-right: 1%;
	background: #DEDEDE;
	border-radius: 5px;
	padding: 0.2% 1%;

}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

.selected {
	text-decoration: : underline;
}